.box {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 400px;

	pre {
		display: inline;
		font-size: 1.6rem;
	}

	p{
		font-size: 1.5rem;
	}
}

.label {
	padding: 0 0.4em 0.4em;
	font-size: 1.8rem;
}

.input {
	width: 100%;
	padding: 1em 3em 1em 1em;
	color: var(--text);
	background-color: var(--bg);
	border: 2px solid #2e374a;
	border-radius: 0.2em;
}