.container {
	display: flex;
	align-items: center;
	gap: 0.6em;
	background-color: #2e374a;
	padding: 0.6em;
	border-radius: 10px;
    width: max-content;
}

.input {
	display: block;
	background-color: transparent;
	border: none;
	padding: 0.2em;
	color: var(--text);
	outline: transparent;
}

.icon{
    filter: invert(1);
}