.table {
	// width: 100%;
    width: 90%;
    margin: 0 auto;
    overflow-x: scroll;
}

.table td {
	padding: 0.8em;
}

.userImage {
	object-fit: cover;
}

.buttonsBox {
	display: flex;
	gap: 0.8em;
    width: max-content;
}

.button {
	padding: 0.4em 1em;
	color: var(--text);
	border-radius: 0.2em;
    transition: background-color .3s;

    &.view{
        background-color: teal;
        
        &:hover{
            background-color: rgb(4, 106, 106);
        }
        
    }
    &.delete{
        background-color: crimson;

        &:hover{
            background-color: rgb(178, 26, 56);
        }
    }
}
