* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	color: var(--text);
	background-color: var(--bg);
	background-image: var(--bg-gradient);
	font-size: 1.6rem;
	font-family: sans-serif;
}

li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	color: var(--text);
	border: none;
	cursor: pointer;
}
